{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock title %}
{% block content %}
<!-- Основной контент -->
<main class="main">
  <section class="services">
    <div class="servis-container">
      <h1>
        Услуги по оформлению<br>
        <span class="centered-line">мокрого фасада</span>
      </h1>
    </div>


    <div class="wrapper">
      <div class="link_wrapper">
        <a href="{% url 'service:calculate' %}">Расчитать фасад</a>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
            <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
          </svg>
        </div>
      </div>

    </div>
  </section>

  <section class="about" id="about-us">
    <div class="about-images">
      <div class="inner-images">
        <img src="{% static 'images/fasad/Fasad-doma-9-5.jpg' %}" alt="home-image">
        <img src="{% static 'images/fasad/mokryj-fasad-chto-eto1-e1656244091666.jpg' %}" alt="home-image">
      </div>
        <img src="{% static 'images/fasad/b5217f513cd1bdecf2c4256ac604976f.webp' %}" alt="home-image">
      </div>
    <div class="about-text">
      <h2>
        О нас
      </h2>
      <p>
        Слышали ли вы когда-нибудь о мокром фасаде и задавались вопросом, что это такое? Мокрый фасад — это система изоляции наружной части здания, в
        которой используются жидкие растворы и составы, такие как грунтовки, шпатлевки, краски и клеи. Этот тип изоляции помогает защитить здание от
        таких стихий, как ветер, дождь, снег и экстремальные температуры. Он также помогает повысить энергоэффективность конструкции.
        Процесс создания мокрого фасада включает в себя несколько этапов.
        Сначала на поверхность наносится грунтовка, чтобы подготовить ее к дальнейшей работе. Затем наносится покрытие или шпатлевка для создания
        ровного слоя на поверхности, который поможет защитить ее от проникновения воды. После завершения этого этапа добавляется несколько
        слоев краски или клея для создания эстетически привлекательного вида и дополнительной защиты от погодных условий.
        При правильной установке опытным специалистом мокрые фасады могут
        обеспечить долгосрочную защиту для любого типа здания, а также улучшить его общий внешний вид. Так что если вы ищете способ повысить
        энергоэффективность вашего здания, обеспечив при этом превосходную защиту от непогоды, подумайте об инвестировании в мокрый фасад!
      </p>
    </div>
  </section>

</main>
{% endblock content %}


